@page "/fetchdata"
@attribute [AllowAnonymous]

<PageTitle>Prihlasovanie na sv. omšu</PageTitle>

@using Marek.Prihlasenie.Data
@inject UdalostService UdalostService
@inject InfoService InfoService

<h1>Prosíme prihlasujete sa na jeden termín zo všetkých zobrazených</h1>
<h2>Teraz je: @teraz  rozdiel: </h2>
@if (udalosti == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var udalost in udalosti)
        {
            <UdalostCard udalost=@udalost />
        }
    </div>
}

<p class="pt-4">Ďakujeme za pochopenie a spoluprácu</p>

@code {
    private Info? info;
    private List<Udalost>? udalosti;
    private DateTime teraz = DateTime.Now;
    protected override async Task OnInitializedAsync()
    {
        info = await InfoService.GetInfo();
        var udalostiRaw = await UdalostService.GetUdalostiAsync(info.Terminy.Split(","));
        udalosti = udalostiRaw.OrderBy(l => l.RowKey).ToList<Udalost>();
    }
}
