@page "/prihlaseni/{udalostKey}"

<PageTitle>Prehľad prihlásených</PageTitle>

@using Marek.Prihlasenie.Data
@using System.Text.Json
@inject UdalostService UdalostService
@inject InfoService InfoService
@inject DialogService DialogService

<h1>Prehľad prihlásených</h1>
@if (udalost == null)
{
    <p><em>Počkajte prosím, stránka sa načítava ...</em></p>
}
else
{
    <div class="card">
        <div class="card-header bg-info fs-4">
            @udalost.Nazov
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    @((MarkupString)udalost.HtmlPopis)
                </div>
                <div class="col">
                    <p class="text-end">Počet voľných miest: <b class="fs-2">@(udalost?.max - udalost?.pocet)</b></p>
                </div>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var registracia in udalost.RegList)
            {
                <button class="list-group-item list-group-item-action" onclick="async () => await ShowOdhlasDialog(registracia)">@registracia.Meno - kliknutím odhlásiť</button>
            }
        </ul>
    </div>
}
@code {
    [Parameter]
    public string udalostKey { get; set; }
    private Udalost udalost;
    protected override async Task OnInitializedAsync()
    {
        //var info = await InfoService.GetInfo(Tenant ?? "main");
        await LoadUdalost();
        /*
        udalost = await UdalostService.GetUdalost(udalostKey);        
        if (!string.IsNullOrEmpty(udalost.registracie))
        {
            udalost.RegList = JsonSerializer.Deserialize<List<Registracia>>(udalost.registracie);
        }
        else
            udalost.RegList = new List<Registracia>();   
        */     
    }

    private async Task LoadUdalost()
    {
        udalost = await UdalostService.GetUdalost(udalostKey);

        if (!string.IsNullOrEmpty(udalost.registracie))
        {
            udalost.RegList = JsonSerializer.Deserialize<List<Registracia>>(udalost.registracie);
        }
        else
            udalost.RegList = new List<Registracia>();  
    }
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    private OdRegistracia odregistracia = new OdRegistracia();
    private async Task ShowOdhlasDialog(Registracia registracia)
    {
        odregistracia = new OdRegistracia()
        {
            Id = registracia.Id,
            OldTelefon = registracia.Telefon,
            RowKey = registracia.RowKey,
            pocet = registracia.pocet
        };
        var result = await DialogService.OpenAsync("Odhlásenie: " + registracia.Meno, ds =>
        @<div class="">
            <EditForm Model="odregistracia" OnValidSubmit="() => { HandleValidSubmit(); ds.Close(true); }">
                <div class="card-body">
                    <DataAnnotationsValidator />
                    <label for="telefon">Pre odhlásenie zadajte správne telefón</label>
                    <InputText id="telefon" @bind-Value="odregistracia.Telefon" class="form-control" />
                    
                </div>
                <div class="card-body text-right">
                    <button type="button" class="btn btn-warning" @onclick="() => ds.Close(false)">Zrušiť</button>
                    <button type="submit" class="btn btn-primary" >Odhlásiť</button>
                </div>
            </EditForm>
        </div>
    ); 
    }

    private async void HandleValidSubmit()
    {
        await UdalostService.OdRegistruj(odregistracia.RowKey, odregistracia.Id, odregistracia.pocet);
        //udalost = await UdalostService.GetUdalost(odregistracia.RowKey);
        await LoadUdalost();
        StateHasChanged();
    }
}
