@inherits LayoutComponentBase

<RadzenDialog />
<PageTitle>Prihlasovanie na svätú omšu</PageTitle>

<div class="page bg-light">

    <main>
        <div class="top-row">
            <h3 class="">
                Prihlasovanie na svätú omšu vo farnosti Trnava - Kopánka
            </h3>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <footer class="border-top footer text-muted">
            <div class="container text-center">
                <!-- <a asp-area="" asp-page="/Privacy">Privacy</a> -->
                Všetky dáta zadané na tomto mieste sú použité výhradne pre účely spojené s návštevou bohoslužby podľa
                aktuálne platných nariadení
            </div>
        </footer>
    </main>
</div>
