@inherits LayoutComponentBase

<PageTitle>Prihlasovanie na svätú omšu</PageTitle>

<div class="page">

    <main>
        <div class="top-row">
            <h3 class="">
                Prihlasovanie na svätú omšu 12.12.2021
            </h3>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
